@import "tailwindcss";

@theme {
    /* Heritage Color Palette */
    --color-primary: #2D4636;
    --color-secondary: #C5A059;
    --color-light: #F2EFE9;
    --color-dark: #3E424B;

    /* Typography System (Pairing Set 1 & Set 2) */
    --font-heading: "Cinzel", "Arya", serif;
    --font-body: "Quicksand", "Baloo 2", sans-serif;
}

/* Global HTML Base Rules */
body {
    background-color: var(--color-light);
    color: var(--color-dark);
    font-family: var(--font-body);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2 {
    font-family: var(--font-heading);
}

h1 {
    color: var(--color-primary);
    @apply text-xl lg:text-3xl;
}

h2 {
    color: var(--color-secondary);
    @apply text-sm lg:text-2xl;
}

p {
    @apply text-sm leading-relaxed my-2;
}